<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header id="unique-header">
        <a href="index.html"><img src="assets/logo/LOGO-MAGIC 2.png" id="logo" width="90rem"> </a>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <nav id="unique-navigation">
            <ul id="unique-nav-list">

                <li id="unique-nav-decks"><a href="/views/deck.ejs">DECKS</a></li>
                <li id="unique-nav-drawtest"><a href="game.ejs">DRAWTEST</a></li>
            </ul>
        </nav>
        <a href="#" id="unique-profile-link"><img src="assets/images/dragonbadr.png" alt="My Profile"
                id="unique-profile-icon">
        </a>
        <div id="profile-dropdown" class="dropdown-menu hidden">
            <a href="login.html"> <img src="/assets/icon/poweroff icon.png" alt="poweroff" class="icon-img">
                Uitloggen</a>
        </div>
        </a>
    </header>
