<%- include("partials/footer") %>

    <body id="body-background">
        <header id="unique-header">
            <a href="index.html"><img src="assets/logo/LOGO-MAGIC 2.png" id="logo" width="90rem"> </a>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <nav id="unique-navigation">
                <ul id="unique-nav-list">

                    <li id="unique-nav-decks"><a href="deck.html">DECKS</a></li>
                    <li id="unique-nav-drawtest"><a href="game.html">DRAWTEST</a></li>
                </ul>
            </nav>
            <a href="#" id="unique-profile-link"><img src="assets/images/dragonbadr.png" alt="My Profile"
                    id="unique-profile-icon">
            </a>
            <div id="profile-dropdown" class="dropdown-menu hidden">
                <a href="login.html"> <img src="/assets/icon/poweroff icon.png" alt="poweroff" class="icon-img">
                    Uitloggen</a>
            </div>
            </a>
        </header>
        <section class="tooltip-container">
            <section class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50">
                    <path
                        d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z">
                    </path>
                </svg>
            </section>
            <section class="tooltip">
                <p>Beheer hier je persoonlijke decks. Maak nieuwe decks aan, geef ze een naam en achtergrond. </p>
                <p>Klik op een deck bekijk je kaartverzameling.</p>
            </section>
        </section>

        <main id="main-content">
            <h2>DECK COLLECTION</h2>
            <section id="deck-section">

                <article id="deck-1" class="deck-item">
                    <a href="deckview.html">
                        <img src="/assets/images/Magic_card_back 19.png" alt="Deck 1" id="deck-img-1">
                        <p id="deck-text-1">deck 1</p>
                    </a>
                </article>
                <article id="deck-2" class="deck-item">
                    <a href="deckview.html">
                        <img src="/assets/images/Magic_card_back 19.png" alt="Deck 2" id="deck-img-2">
                        <p id="deck-text-2">deck 2</p>
                    </a>
                </article>
                <article id="deck-3" class="deck-item">
                    <a href="deckview.html">
                        <img src="/assets/images/Magic_card_back 19.png" alt="Deck 3" id="deck-img-3">
                        <p id="deck-text-3">deck 3</p>
                    </a>
                </article>


                <div id="deck-container"></div>

            </section>
            <section class="new-deck-wrapper">


                <button id="add-deck-btn"><img src="/assets/icon/cards icon.png" alt="plusLogo"> </button>
            </section>


        </main>

        <!-- deckpopup bij het aanmaken van nieuwe deck -->
        <section id="deck-popup" class="deck-popup-container">
            <section class="deck-popup-content">
                <span class="deck-close-btn">&times;</span>
                <input type="text" id="deck-name" placeholder="Deck naam" required>
                <input type="url" id="deck-img-url" placeholder="Achtergrondafbeelding URL" required>
                <button id="save-deck-btn">Opslaan</button>
            </section>
        </section>
        <%- include("partials/footer") %>