<!DOCTYPE html>
<html lang="nl-BE">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inloggen</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/register.js" defer></script>
</head>

<body class="login">

  <header id="unique-header">
    <a href="/"><img src="/assets/logo/LOGO-MAGIC 2.png" id="logo" alt="Logo"></a>
  </header>

  <section class="Login-container">
    <section class="register-container">
      <section class="register-form">
        <h1>INLOGGEN</h1>
        <!-- Foutmelding als er een error query is -->
        <% const message=locals.message; %>
          <% if (message) { %>
            <p id="flash-message-login" <%=message.type==='success' ? 'alert alert-success' : 'alert alert-danger' %>">
              <%= message.message %>
            </p>
            <% } %>
              <form action="/login" method="post">
                <input type="text" name="username" placeholder="Gebruikersnaam" required>
                <section class="password-container">
                  <input type="password" name="password" id="password" placeholder="Wachtwoord" required>
                  <span class="toggle-password" onclick="togglePassword('password', this)">
                    <i class="fas fa-eye-slash"></i>
                  </span>
                </section>
                <button type="submit" id="btn">Inloggen</button>
              </form>
              <p class="login-text">Geen account? <a href="/register">Registreer</a></p>
      </section>
    </section>
  </section>

</body>

</html>