@font-face {
  font-family: Gotham;
  src: url(../assets/fonts/Designer.otf);
}
@font-face {
  font-family: dragon;
  src: url(../assets/fonts/PowerOfDragonRegular-axZom.ttf);
}

@font-face {
  font-family: stratum;
  src: url(../assets/fonts/StratumNo2.otf);
}
@font-face {
  font-family: magic;
  src: url(../assets/fonts/Magicmedieval-pRV1.ttf);
}
